version: "3.3"

networks:
  htmlcoind_mainnet_network:
volumes:
  htmlcoind_mainnet_volume:

services:
  janus_mainnet:
    image: htmlcoin/janus:latest
    container_name: janus_mainnet
    build: 
        context: ../../
        cache_from:
          - golang:1.18-alpine
    ports:
        - "24890:24890"
    environment: 
        - HTMLCOIN_RPC=http://htmlcoin:testpasswd@htmlcoin_mainnet:4890
        - COMPOSE_PROJECT_NAME=mainnet
    volumes:
        - ../standalone/myaccounts.txt:$GOPATH/github.com/htmlcoin/janus/myaccounts.txt
        - ../../https:/https
        - ../../logs:/logs
    depends_on:
      - htmlcoin_mainnet
    command: --bind 0.0.0.0 --port 24890 --ignoreTransactions --accounts $GOPATH/github.com/htmlcoin/janus/myaccounts.txt --dev --https-key /https/key.pem --https-cert /https/cert.pem
    networks:
      - htmlcoind_mainnet_network

  htmlcoin_mainnet:
    ports:
      - "4890:4890"
    image: htmlcoin/htmlcoin
    container_name: htmlcoin_mainnet
    environment: 
        - COMPOSE_PROJECT_NAME=mainnet
    command: htmlcoind  -txindex -addrindex=1 -rpcbind=0.0.0.0:4890 -rpcallowip=0.0.0.0/0 -rpcuser=htmlcoin -rpcpassword=testpasswd -deprecatedrpc=accounts 
    volumes:
      - htmlcoind_mainnet_volume:/root/.htmlcoin
    networks:
      - htmlcoind_mainnet_network
