version: "3.3"

networks:
  htmlcoind_regtest_network:
volumes:
  htmlcoind_regtest_volume:

services:
  janus_regtest:
    image: htmlcoin/janus:dev
    container_name: janus_regtest
    build: 
        context: ../../
        cache_from:
          - golang:1.14-alpine
    ports:
        - "24889:24889"
    environment: 
        - HTMLCOIN_RPC=http://htmlcoin:testpasswd@htmlcoin_regtest:4889
        - COMPOSE_PROJECT_NAME=regtest
    volumes:
        - ../standalone/myaccounts.txt:$GOPATH/github.com/htmlcoin/janus/myaccounts.txt
        - ../../https:/https
        - ../../logs:/logs
    depends_on:
      - htmlcoin_regtest
    command: --bind 0.0.0.0 --accounts $GOPATH/github.com/htmlcoin/janus/myaccounts.txt --log-file /logs/janusLogs.txt --dev --https-key /https/key.pem --https-cert /https/cert.pem
    networks:
      - htmlcoind_regtest_network

  htmlcoin_regtest:
    ports:
      - "4889:4889"
    image: htmlcoin/htmlcoin
    container_name: htmlcoin_regtest
    command: htmlcoind -regtest -txindex -addrindex=1 -rpcbind=0.0.0.0:4889 -rpcallowip=0.0.0.0/0 -logevents -rpcuser=htmlcoin -rpcpassword=testpasswd -deprecatedrpc=accounts -printtoconsole
    volumes:
      - htmlcoind_regtest_volume:/root/.htmlcoin
    networks:
      - htmlcoind_regtest_network
